<table>
  <% @flashcards.each do |flashcard| %>
  <tr>
    <td>
      <%= link_to flashcard.question, user_flashcard_url(flashcard) %>
    </td>
  </tr>
  <% end %>
</table>

<br>

<%= button_to "Create a New Flashcard", new_user_flashcard_url,
              method: :get, class: 'btn btn-primary' %>
