<footer class="footer edit-menu">
  <small>
    AA Flashcards
  </small>
  <nav>
    <ul>
      <li><%= link_to "see on github",
      "https://github.com/vveleva/flashcards" %></li>
    </ul>
  </nav>
</footer>
